In [1]:
import pandas as pd

In [3]:
file_path = "shopping_data.csv"
df_shopping = pd.read_csv(file_path)
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [4]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [5]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [14]:
df_shopping[CustomerID].isnull().sum()

NameError: name 'CustomerID' is not defined

In [15]:
# Check for null values
for column in df_shopping.columns:
    print(f" Column {column} has {df_shopping[column].isnull().sum()} null values" )

 Column CustomerID has 0 null values
 Column Card Member has 2 null values
 Column Age has 2 null values
 Column Annual Income has 0 null values
 Column Spending Score (1-100) has 1 null values